.player {
  max-width: 750px;
  margin: 40px auto;
  border: 5px solid #000;
}

.player__video {
  width: 100%;
}

.player__controls {
  display: flex;
  align-items: center;
  padding: 10px;
}

.player__button {
  margin: 0 5px;
  cursor: pointer;
}

.player__slider {
  margin: 0 5px;
}

.progress {
  flex: 1;
  height: 10px;
  background: #ccc;
  cursor: pointer;
  margin-right: 10px;
}

.progress__filled {
  width: 0%;
  height: 100%;
  background: #ffc600;
}
